[submodule "InheritanceMappingUsingXML-Hibernate"]
	path = InheritanceMappingUsingXML-Hibernate
	url = https://github.com/swavyast/InheritanceMappingUsingXML-Hibernate
[submodule "AnnotatedMapping"]
	path = AnnotatedMapping
	url = https://github.com/swavyast/AnnotatedMapping
